<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>videoListServlet</servlet-name>
    <servlet-class>servlet.VideoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videoListServlet</servlet-name>
    <url-pattern>/videoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newsServlet</servlet-name>
    <servlet-class>servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsServlet</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newContentServlet</servlet-name>
    <servlet-class>servlet.NewContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newContentServlet</servlet-name>
    <url-pattern>/newContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>goodServlet</servlet-name>
    <servlet-class>servlet.GoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goodServlet</servlet-name>
    <url-pattern>/good</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noGoodServlet</servlet-name>
    <servlet-class>servlet.NoGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noGoodServlet</servlet-name>
    <url-pattern>/noGood</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loveServlet</servlet-name>
    <servlet-class>servlet.LoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loveServlet</servlet-name>
    <url-pattern>/love</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>noLoveServlet</servlet-name>
    <servlet-class>servlet.NoLoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noLoveServlet</servlet-name>
    <url-pattern>/noLove</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getFileServlet</servlet-name>
    <servlet-class>servlet.GetFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFileServlet</servlet-name>
    <url-pattern>/getFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getDirServlet</servlet-name>
    <servlet-class>servlet.GetDirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDirServlet</servlet-name>
    <url-pattern>/getDir</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chatServlet</servlet-name>
    <servlet-class>servlet.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chatServlet</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hotServlet</servlet-name>
    <servlet-class>servlet.HotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotServlet</servlet-name>
    <url-pattern>/hot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>discussServlet</servlet-name>
    <servlet-class>servlet.DiscussServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>discussServlet</servlet-name>
    <url-pattern>/discuss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileServlet</servlet-name>
    <servlet-class>servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signServlet</servlet-name>
    <servlet-class>servlet.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signServlet</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sendNewsServlet</servlet-name>
    <servlet-class>servlet.SendNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendNewsServlet</servlet-name>
    <url-pattern>/sendNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>servlet.QueryFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>